body.about {
    .hero-bg {
        background: linear-gradient(#b33035, maroon);
        .right-container {
            @include breakpoint(large) {
            background-image: url(/images/hero-bg.png);
            background-size: cover;
            }
        }
    }
    .image-wrapper::before {
        background-image : url('/images/SSF_white.png');
        top: 0px;
    }
    section.grid-like {
        @include breakpoint(medium) {
                margin-top : 5rem;
        }
        h3 {
            color         : $brand-grey;
            @extend .Montserrat-ExtraLight;
            font-size     : 1.4rem;
            line-height   : 1.3;
            @include breakpoint(medium) {
                font-size   : 2rem;
                line-height : 1.2;
            }
            @include breakpoint(small only) {
                margin-top: 0;
            }
        }
        p {
            color : $brand-grey;
        }
        .quote {
            max-width : 150px;
            border-radius: 50%;
            margin    : 2rem auto 1rem;
        }
    }

    section.fact {
        @extend .dark-gradient;
        p {
            color       : white;
            font-size   : 25px;
            font-style  : italic;
            padding     : 80px 20px;
            line-height : 2;

            @include breakpoint(medium) {
                font-size   : 32px;
                padding     : 80px;
                line-height : 1.5;
            }
        }
    }
    div.team {
        .orbit-wrapper {
            transform: translateY(25px);
            .orbit-container {
                min-height: 335px;
            }
        }
        h3 {
            padding-top: 40px;
        }
    }
    .gear-container {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(30px);
        .gear{
            position: relative;
            width: 200px;
            height: 200px;
            margin: auto;
            background: #ea823e;
            border-radius: 50%;
            animation-name: spin;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          
          .gear .center{
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 10;
            width: 100px;
            height: 100px;
            background: white;
            border-radius: 50%;
          }
          
          .tooth{
            position: absolute;
            top: -25px;
            left: 75px;
            z-index: 1;
            width: 45px;
            height: 250px;
            background: #ea823e;
          }
          
          .tooth:nth-child(2){
            transform: rotate(45deg);
          }
          
          .tooth:nth-child(3){
            transform: rotate(90deg);
          }
          
          .tooth:nth-child(4){
            transform: rotate(135deg);
          }
          
          @keyframes spin {
            from {transform: rotate(0deg); }
            to {transform: rotate(360deg);}
        }
    }
    .involve {
        @include breakpoint(medium) {
            margin-top: 2em;
        }
    }
}