body.about {
    .hero-bg {
        background: linear-gradient(#b33035, maroon);
        .right-container {
            @include breakpoint(large) {
            background-image: url(/images/hero-bg.png);
            background-size: cover;
            }
        }
    }
    .image-wrapper::before {
        background-image : url('/images/SSF_white.png');
        top: 0px;
    }
    section.grid-like {
        @include breakpoint(medium) {
                margin-top : 5rem;
        }
        h3 {
            color         : $brand-grey;
            @extend .Montserrat-ExtraLight;
            font-size     : 1.4rem;
            line-height   : 1.3;
            @include breakpoint(medium) {
                font-size   : 2rem;
                line-height : 1.2;
            }
            @include breakpoint(small only) {
                margin-top: 0;
            }
        }
        p {
            color : $brand-grey;
        }
        .quote {
            max-width : 200px;
            border-radius: 50%;
            margin    : 2rem auto 1rem;
        }
    }

    section.fact {
        @extend .dark-gradient;
        p {
            color       : white;
            font-size   : 25px;
            font-style  : italic;
            padding     : 80px 20px;
            line-height : 2;

            @include breakpoint(medium) {
                font-size   : 32px;
                padding     : 80px;
                line-height : 1.5;
            }
        }
    }
}