.contact-us {
    label {
        text-align     : left;
        text-transform : uppercase;
    }
    textarea {
        height : 250px;
    }
    input, textarea {
        color      : black;
        font-weight: normal;
    }


}