//@include font-face(cartonslab, '/fonts/carton-slab-webfont', null, null, eot svg ttf woff);

@font-face {
    font-family:"Black-Diamond-reg";
    src:url('/fonts/Black-Diamond.woff');
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Montserrat-Bold";
    src:url('/fonts/Montserrat-Bold.woff');
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Montserrat-ExtraBold";
    src:url('/fonts/Montserrat-ExtraBold.woff');
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Montserrat-ExtraLight";
    src:url('/fonts/Montserrat-ExtraLight.woff');
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Montserrat-Light";
    src:url('/fonts/Montserrat-Light.woff');
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Montserrat-Lightitalic";
    src:url('/fonts/Montserrat-Lightitalic.woff');
    font-style:normal;font-weight:400;
}
