

@mixin noHeroGradient() {
    &::after {
        background : none;
    }

}
.home-hero {

    // Video Component
    .hero-bg {

        .video-wrapper {

    
            
            .video-overlay {
                position : absolute;
                top      : 0;
                left     : 0;
                height   : 100%;
                width    : 100%;
                opacity  : .4;
                z-index  : 2;
            }

            .title {
                font-size      : 17px;
                line-height    : 1.3;
                letter-spacing : 1.2px;
                color          : white;
                margin         : 0 auto;
                text-transform : uppercase;
                width          : 65%;
                display        : inline-block;
                text-align     : left;
                padding-left   : 1rem;
            }

            .video-play {
                @include breakpoint(medium) {
                    top       : 40vh;
                }
                font-size : 45px;
                z-index   : 3;
                display   : inline-block;

                a {
                    color : white;
                }
                i {
                    color      : rgba(255, 255, 255, 1);
                    transition : color .5s;

                    &:hover {
                        color : rgba(255, 255, 255, .8);
                    }
                }

            }

        }

        .full-media {
            &.desktop {
                display : none;
            }
            min-height : 600px;
            @include breakpoint(large) {
                min-height : 500px;
            }
            height     : 100%;
            left       : 50%;
            max-width  : none;
            transform  : translateX(-50%);
            position   : absolute;
            z-index    : 0 !important;
        }





        p {
            @include breakpoint(small only) {
                padding: 10px;
            }
        }
    }


    // Image and Content Component
    .hero-bg {
        background-image : url("/images/hero-bg.png");
        background-size  : cover;
        background-color : maroon;
        .left-container {
            height   : 65vh;
            overflow : hidden;
            @include breakpoint(small only) {
                padding : 0;
            }
        }
        .right-container {
            height   : 35vh;
            position : relative;
            @include breakpoint(small only) {
                background-image : url("/images/hero-bg.png");
                background-size  : cover;
            }
            .right-content {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                h1 {
                    text-align: left;
                }
            }
        }
        @include breakpoint(medium) {
            .columns {
                padding-left  : 0;
                padding-right : 0;
            }
            .left-container, .right-container {
                height : 100vh;
            }
            .right-container {
                background-color : transparent;
                position         : relative;
                height           : 30vh;
                .right-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%)
                }
            }
        }
        @include breakpoint(large) {
            .right-container {
                height           : 100vh;
                .right-content {
                    max-width: 75%;
                }
            }
        }
        p {
            @include breakpoint(medium) {
                font-size   : 1.3em;
                line-height : 1.7;
            }
        }
    }

    body.home {
        .hero {
            overflow : hidden;
            .left-container {
                overflow : hidden;
            }
            p {
                font-size   : 1.5em;
                line-height : 1.3em;
                @include breakpoint(medium) {
                    font-size   : 1.8em;
                    line-height : 1.5em;
                }
            }
        }

        @include breakpoint(medium) {
            .right-content {
                margin-left  : 20px;
                margin-right : 15px;
            }
            .right-container {
                p {
                    border-left  : 2px solid $brand-light-blue;
                    padding-left : 10px;
                    //reset
                    border-top   : 0;
                    padding-top  : 0;
                }
            }
        }

    }
}
