$mobileLandscape : 'only screen and (min-device-width : 375px) and (max-device-width : 736px) and(-webkit-min-device-pixel-ratio : 2) and(orientation : landscape)';

$brand-blue : #786c28;
$brand-light-blue : #e97c31;
$brand-darkblue : #b33035;
$brand-grey : #353A3E;
